.venv
.vscode
**/__pycache__

data/*
!data/.gitkeep
!data/fits/.gitkeep
!data/images/.gitkeep
!data/numpy/.gitkeep

models/*
!models/.gitkeep

logs/*
!logs/.gitkeep

inference/*
!inference/.gitkeep

config.json