.venv
.vscode
**/__pycache__

data/labels.json

data/input/*
!data/input/.gitkeep

data/output/*
!data/output/.gitkeep

models/*
!models/.gitkeep

logs/*
!logs/.gitkeep

inference/*
!inference/.gitkeep

config.json